# Configure these as environment variables in the incident service run configuration.
CLOUDINARY_CLOUD_NAME=meawidqh
CLOUDINARY_API_KEY=661758139397114
CLOUDINARY_API_SECRET=vqwS5lk0hUCIbJ3Vxa3damPcXB
